/* body {
  margin: 5;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
} */

/* h1 {
  font-size: 5;
  font-family: sans-serif;
  color: hsl(0 0% 98%);
} */


.fancy-div {
  position: relative;
  width: 450px;
  padding: 7px;
  margin-bottom:15px;
  background: linear-gradient(to right, #2980b9,#070F26); /* Fancy blue gradient background */
  color: #fff; /* White text color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  cursor: pointer;
}


.white-label {
  display: block;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

/* .icon {
  position: absolute;
  top: 28px;
  right: 30px;
  font-size: 2em;
  color: #F98B85;
} */

.cross-icon {
  position: absolute;
  top: 13px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  color: #F98B85;
}

.checkmark {
  position: absolute;
  top: 6px;
  right: 25px;
  font-size: 2.5em;
  cursor: pointer;
  color: green;
}

/* .cross-icon {
  position: relative;
  left: 10%;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
  color: #F98B85;
} */

.tick-mark {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}

.tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 6px;
  background-color: green;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 150%;
  background-color: green;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}


#fancy-table {
  /* display: flex; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  /* flex-wrap: wrap; */
}

#fancy-table td, #fancy-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #fancy-table tr:nth-child(even){background-color: #f2f2f2;} */

.wrong-parameter{
  background-color: #f8d9d8;
}

/* #fancy-table tr:hover {background-color: #d9effd}  */

#fancy-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #070F26;
  color: white;
}

.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  padding: 10px;
  border-radius: 8px;
  /* color: #C9971C; */
}

.container-div-plot {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  margin-top: 40px ; 
}

.container-main {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 50px;
}

.container-status {
  /* display: flex;
  gap: 5px;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap; */
  padding-top: 10px;
  padding-bottom: 50px;
}

.container-div {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

.box {
  width: 245px;
  height: 190px;
  /* background: #262C3A; */
  background: linear-gradient(to right, #262C3A,#070F26);
  /* #background: linear-gradint(to right,white,#cacaca); */
  border: 2px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  margin-right: 10px;
  border-radius: 10px;
}

.fancy-design { 
  font-size: 26px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2px;
  font-weight: bold;
  font-family: sans-serif;
}

.text-grey{
  color: grey;
}

.text-green{
  color: green;
}

.text-red{
  color: red;
}

.fancy-design .tooltiptext {
  font-size: 14px;
  display: flex;
  visibility: hidden;
  margin-left: 2px;
  width: 184px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center; 
}

.fancy-design:hover .tooltiptext {
  visibility: visible;
}

.highlight-text {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color:#ccc;
  font-family: sans-serif;
}

/* @property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#anim {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}
#anim::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 100;
  }
  to {
    --num: 50;
  }
} */


.text-container {
  display: flex;
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 4fr)); */
  grid-gap: 5px; /* Adjust the gap between items as needed */
}

.grid-item {
  /* Additional styling for your grid items */
  padding: 10px;
  border: 1px solid #ccc;
}







.custom-layout {
  display: flex;
  flex-wrap: wrap;
}

.table-container {
  flex: 1;
  max-width:100%;
  box-sizing: border-box;
  padding: 10px;
}

.plot-container {
  display: none;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 10px;
  position: relative; /* Ensure positioning context for absolute positioning */
}

.table-container:hover + .plot-container {
  display: block;
}




