{{ attach_library('security_best_practices/security_charts') }}

<div>
    <h2>Installation Module Status</h2>
</div>

<div class='container-status'>
    {% for i in range(0, (rows|length)-1) %}
        <div class="fancy-div">
            {% if rows[i][1]=='NOT INSTALLED' %}
                <p class="white-label" onclick="window.open('{{ links_ref[i]}}')">{{ rows[i][0] }}</p>
                <span class="cross-icon">&#10006;</span>
            {% else %}
                <p class="white-label" onclick="window.open('{{ links_config[i]}}')">{{ rows[i][0] }}</p>
                <span class="checkmark">&#x2714;</span>
            {% endif %}
        </div>
    {% endfor %}
</div>










